<div class="context">
     <div class="container">


    <h1>P1Jack</h1>
         <i>About me:</i>
         <p>My real name is Jesse Bruce Pinkman. I was born on September 24, 1984, into a wealthy family in Albuquerque, New Mexico. I had long been estranged from his parents due to his drug addiction and lifestyle. After I left my parents' house, I moved in with my aunt Ginny, whom I took care of until her death from cancer, after which I was allowed to stay in her house.

I was a bad student at school and preferred to hang out with friends and take methamphetamine. Walter White, whom I almost always call "Mr. White," was my chemistry teacher. Mother of mine later recalled that "Walt must have seen some potential in Jesse; he was really trying to motivate him. He was one of the few teachers who took care of him."</p>
<img src="https://upload.wikimedia.org/wikipedia/ru/thumb/5/52/Jesse_Bruce_Pinkman.jpg/274px-Jesse_Bruce_Pinkman.jpg">

</div>
    </div>


<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 King of the Django. All rights reserved.</p>
        <p>Designed by <a href="/aboutme">@P1Jack</a></p>
        <p>Back to main page: <a href="/home">Home page</a></p>
    </div>
</footer>
<link rel="stylesheet" href="static/style/style.css">


